.rmdb-header {
  width: 100%;
  height: auto;
  background: #1c1c1c;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}

.rmdb-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.link-items {
  margin-right: 10px;
  padding-bottom: 5px;
}

.link-container {
  flex: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-items:hover {
  border-bottom: 2px solid orange;
}

.rmdb-header .rmdb-logo {
  width: 300px;
  margin-top: 20px;
}

.rmdb-tmdb-logo {
  width: 122px;
  margin-top: 25px;
  float: right;
}

@media screen and (max-width: 500px) {
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .rmdb-tmdb-logo {
    display: inline-block;
    width: 80px;
    margin-top: 0px;
  }

  .rmdb-logo {
    width: 150px;
    margin-top: 5px;
  }
}
