.movie-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.MoviesList-div form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 50px;
}

.MoviesList-div form input {
  border: 2px solid #aaa;
  color: #333;
  font-size: 14px;
  font-family: Lato;
  padding: 10px 15px;
  height: 40px;
  min-width: 300px;
}

.MoviesList-div form button {
  border: 1px solid #aaa;
  background-color: #aaa;
  color: #fff;
  padding: 0 12px;
  height: 40px;
}

.MoviesList-div form button:focus {
  outline: none;
}

.MoviesList-div form button:active {
  opacity: 0.7;
}
